
html {
    font-family: "Helvetica", sans-serif;
}
.header {
    background-color: #044483;
    color: #fff;
    padding: 15px;
}

.aside {
    background-color: #0a59c4;
    padding: 15px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.footer {
    background-color: #9500cc;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
